In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('cars.csv').replace({True: 1, False: 0})
data

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,0,gasoline,2.5,...,1,1,1,0,1,0,1,1,1,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,0,gasoline,3.0,...,1,0,0,1,1,0,0,0,1,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,0,gasoline,2.5,...,1,0,0,0,0,0,0,1,1,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,0,gasoline,3.0,...,0,0,0,0,0,0,0,0,0,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,0,gasoline,2.5,...,1,0,1,1,0,0,0,0,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,Chrysler,300,automatic,silver,290000,2000,gasoline,0,gasoline,3.5,...,1,0,0,1,1,0,0,1,1,301
38527,Chrysler,PT Cruiser,mechanical,blue,321000,2004,diesel,0,diesel,2.2,...,1,0,0,1,1,0,0,1,1,317
38528,Chrysler,300,automatic,blue,777957,2000,gasoline,0,gasoline,3.5,...,1,0,0,1,1,0,0,1,1,369
38529,Chrysler,PT Cruiser,mechanical,black,20000,2001,gasoline,0,gasoline,2.0,...,1,0,0,0,0,0,0,0,1,490
38530,Chrysler,Voyager,automatic,silver,297729,2000,gasoline,0,gasoline,2.4,...,0,0,0,0,0,0,0,0,1,632

In [3]:
data.columns

Index(['manufacturer_name', 'model_name', 'transmission', 'color',
       'odometer_value', 'year_produced', 'engine_fuel', 'engine_has_gas',
       'engine_type', 'engine_capacity', 'body_type', 'has_warranty', 'state',
       'drivetrain', 'price_usd', 'is_exchangeable', 'location_region',
       'number_of_photos', 'up_counter', 'feature_0', 'feature_1', 'feature_2',
       'feature_3', 'feature_4', 'feature_5', 'feature_6', 'feature_7',
       'feature_8', 'feature_9', 'duration_listed'],
      dtype='object')

In [4]:
def get_str_columns(data):
    cols = data.columns
    str_cols = []
    for col in cols:
        if isinstance(data[col].loc[0], str):
            print(col)
            print(data[col].unique())
            print()
            str_cols.append(col)
    return str_cols

In [5]:
str_columns = get_str_columns(data)

manufacturer_name
['Subaru' 'LADA' 'Dodge' 'УАЗ' 'Kia' 'Opel' 'Москвич' 'Alfa Romeo' 'Acura'
 'Dacia' 'Lexus' 'Mitsubishi' 'Lancia' 'Citroen' 'Mini' 'Jaguar' 'Porsche'
 'SsangYong' 'Daewoo' 'Geely' 'ВАЗ' 'Fiat' 'Ford' 'Renault' 'Seat' 'Rover'
 'Volkswagen' 'Lifan' 'Jeep' 'Cadillac' 'Audi' 'ЗАЗ' 'Toyota' 'ГАЗ'
 'Volvo' 'Chevrolet' 'Great Wall' 'Buick' 'Pontiac' 'Lincoln' 'Hyundai'
 'Nissan' 'Suzuki' 'BMW' 'Mazda' 'Land Rover' 'Iveco' 'Skoda' 'Saab'
 'Infiniti' 'Chery' 'Honda' 'Mercedes-Benz' 'Peugeot' 'Chrysler']

model_name
['Outback' 'Forester' 'Impreza' ... '180' 'Vision' 'Aspen']

transmission
['automatic' 'mechanical']

color
['silver' 'blue' 'red' 'black' 'grey' 'other' 'brown' 'white' 'green'
 'violet' 'orange' 'yellow']

engine_fuel
['gasoline' 'gas' 'diesel' 'hybrid-petrol' 'hybrid-diesel' 'electric']

engine_type
['gasoline' 'diesel' 'electric']

body_type
['universal' 'suv' 'sedan' 'hatchback' 'liftback' 'minivan' 'minibus'
 'van' 'pickup' 'coupe' 'cabriolet' 'limousine']

state
['owned' 'emergency' 'new']

drivetrain
['all' 'front' 'rear']

location_region
['Минская обл.' 'Гомельская обл.' 'Брестская обл.' 'Могилевская обл.'
 'Витебская обл.' 'Гродненская обл.']

In [6]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [7]:
data_dummies = pd.get_dummies(data, columns = str_columns)
data_dummies

,odometer_value,year_produced,engine_has_gas,engine_capacity,has_warranty,price_usd,is_exchangeable,number_of_photos,up_counter,feature_0,...,state_owned,drivetrain_all,drivetrain_front,drivetrain_rear,location_region_Брестская обл.,location_region_Витебская обл.,location_region_Гомельская обл.,location_region_Гродненская обл.,location_region_Минская обл.,location_region_Могилевская обл.
0,190000,2010,0,2.5,0,10900.00,0,9,13,0,...,1,1,0,0,0,0,0,0,1,0
1,290000,2002,0,3.0,0,5000.00,1,12,54,0,...,1,1,0,0,0,0,0,0,1,0
2,402000,2001,0,2.5,0,2800.00,1,4,72,0,...,1,1,0,0,0,0,0,0,1,0
3,10000,1999,0,3.0,0,9999.00,1,9,42,1,...,1,1,0,0,0,0,0,0,1,0
4,280000,2001,0,2.5,0,2134.11,1,14,7,0,...,1,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,290000,2000,0,3.5,0,2750.00,1,5,85,0,...,1,0,1,0,0,0,0,0,1,0
38527,321000,2004,0,2.2,0,4800.00,1,4,20,0,...,1,0,1,0,1,0,0,0,0,0
38528,777957,2000,0,3.5,0,4300.00,0,3,63,0,...,1,0,1,0,0,0,0,0,1,0
38529,20000,2001,0,2.0,0,4000.00,1,7,156,0,...,1,0,1,0,1,0,0,0,0,0
38530,297729,2000,0,2.4,0,3200.00,1,4,73,0,...,1,0,1,0,0,0,0,0,1,0

Data Categorization via One-Hot-Encoding.
The size of the dataset multiplied quite extensively from (38531,30) to (38531,1240). While this makes for the easiest processing (everything is either a set value or a binary value), it strains the memory usage as well as makes it harder for us to read (due to the large size of the data).

In [8]:
for col in str_columns:
    data[col] = label_encoder.fit_transform(data[col])

In [9]:
data

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,45,764,0,8,190000,2010,3,0,2,2.5,...,1,1,1,0,1,0,1,1,1,16
1,45,764,0,1,290000,2002,3,0,2,3.0,...,1,0,0,1,1,0,0,0,1,83
2,45,519,0,7,402000,2001,3,0,2,2.5,...,1,0,0,0,0,0,0,1,1,151
3,45,609,1,1,10000,1999,3,0,2,3.0,...,0,0,0,0,0,0,0,0,0,86
4,45,665,0,0,280000,2001,3,0,2,2.5,...,1,0,1,1,0,0,0,0,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,8,86,0,8,290000,2000,3,0,2,3.5,...,1,0,0,1,1,0,0,1,1,301
38527,8,766,1,1,321000,2004,0,0,0,2.2,...,1,0,0,1,1,0,0,1,1,317
38528,8,86,0,1,777957,2000,3,0,2,3.5,...,1,0,0,1,1,0,0,1,1,369
38529,8,766,1,0,20000,2001,3,0,2,2.0,...,1,0,0,0,0,0,0,0,1,490
38530,8,1058,0,8,297729,2000,3,0,2,2.4,...,0,0,0,0,0,0,0,0,1,632

Data Categorization via Label Encoding.
The size of the data has roughly slimmed down, however manual reading of the dataset requires the usage of a legend/mapping. While the data has been transformed to be easily readible to machines, the end output needs to be decoded from the initial encoding.